.header {
    background-color: #BCF7FF;
    font-weight: bold;
   
}

/*.header__img {
    align-items: center;
    margin: 0px 0px 10px 15px
}

#logo-turing-wash {
    height: 50px;
}

 .header__links {
    width: 60%;
    font-size: 18px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 60px;
    justify-content: flex-end;
}
*/
#menuToggle{
    visibility: hidden;
    width: auto;
}

nav{
    display: flex;
    justify-content: space-between;
}

#menu{
    width: 92%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
#menu li{
    color:black;
    text-decoration: none; 
    padding: 20px;
    align-items: center;
}

#exit-button {
    font-size: 18px;
    font-weight: bold;
    color: black;
    text-decoration: none;
    background-color: #8FF2FF;
    border: none;
    border-radius: 5px;
    width: 50px;
    height: 30px;
    margin-right: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 768px) {

    #menuToggle {
        visibility: visible;
        display: block;
        position: relative;
        top: 50px;
        left: 50px;
        z-index: 1;
        -webkit-user-select: none;
        user-select: none;
    }

    #menuToggle a {
        text-decoration: none;
        color: #232323;
        transition: color 0.3s ease;
    }

    #menuToggle input {
        display: block;
        width: 40px;
        height: 32px;
        position: absolute;
        top: -7px;
        left: -5px;
        cursor: pointer;
        opacity: 0;
        z-index: 2;
        -webkit-touch-callout: none;
    }

    #menuToggle span {
        display: block;
        width: 33px;
        height: 4px;
        margin-bottom: 5px;
        position: relative;
        background: black;
        border-radius: 3px;
        z-index: 1;
        transform-origin: 4px 0px;
        transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
            background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
            opacity 0.55s ease;
    }

    #menuToggle span:first-child {
        transform-origin: 0% 0%;
    }

    #menuToggle span:nth-last-child(2) {
        transform-origin: 0% 100%;
    }

    #menuToggle input:checked~span {
        opacity: 1;
        transform: rotate(45deg) translate(-2px, -1px);
    }

    #menuToggle input:checked~span:nth-last-child(3) {
        opacity: 0;
        transform: rotate(0deg) scale(0.2, 0.2);
    }

    #menuToggle input:checked~span:nth-last-child(2) {
        transform: rotate(-45deg) translate(0, -1px);
    }

    #menu {
        position: absolute;
        width: 300px;
        margin: -100px 0 0 -50px;
        padding: 125px 450px 400px 50px;
        background: #BCF7FF;
        -webkit-font-smoothing: antialiased;
        transform-origin: 0% 0%;
        transform: translate(-100%, 0);
        transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0);
        display: flex;
        flex-direction: column;
    }

    #menu li {
        padding: 10px 0;
        font-size: 22px;
    }

    #menuToggle input:checked~ul {
        transform: none;
    }

    nav{
        display: flex;
    }

}